.btn-custom {
  width: 174px;
}

select.form-control {
  padding-top: 1px;
}

.btn-add-competidor {
  border-radius: 32px;
  width: 288px;
}

.validation-text {
  font-size: 0.7rem;
}

.bg-header {
  background-image: url(/imgs/bgheder.svg);
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
}
